<div class="login">
    <div>
        <h1>Passwort Zurücksetzen</h1>
        <p>Bitte geben Sie den Recovery Key ein, welchen wir Ihnen soeben per Email geschickt haben.</p>
        <form class="example-form" [formGroup]="loginFormGroup">
            <mat-form-field class="example-full-width">
                <mat-label>Recovery Key</mat-label>
                <input matInput [formControl]="recoveryKeyFormControl" />
                <mat-error *ngIf="recoveryKeyFormControl.hasError('minlength') && !recoveryKeyFormControl.hasError('required')">
                    Bitte geben Sie einen <b>valide</b> Recovery Key ein.
                </mat-error>
                <mat-error *ngIf="recoveryKeyFormControl.hasError('required')"> Recovery Key wird <strong>benötigt</strong> </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Neues Passwort</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl" />
                <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
                    Das Passwort muss mindestens <b>8 Zeichen</b> haben
                </mat-error>
                <mat-error *ngIf="passwordFormControl.hasError('required')"> Passwort wird <strong>benötigt</strong> </mat-error>
            </mat-form-field>
            <mat-error *ngIf="error" class="error">
                {{ error }}
            </mat-error>
        </form>
    </div>
    <button mat-flat-button color="primary" [disabled]="!loginFormGroup.valid" (click)="changePassword()">Passwort ändern</button>
</div>
