@import '../../../../const.scss';

.list {
    width: 100%;
    // background-color: #333;
    .landing-wrapper {
        height: calc(100vh - 100px);
        display: flex;
        align-items: center;
        justify-content: center;

        .landing {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr;
            // grid-template-rows: 1fr;
            gap: 0 8vw;

            img {
                align-self: center;
                justify-self: flex-end;
                max-width: 50vw;
                max-height: 60vh;
                border-radius: 10px;
            }

            .description {
                align-self: center;
                justify-self: flex-start;
                max-width: 40vw;

                .title {
                    font-size: 2.5em;
                    margin-bottom: 1.3rem;
                    line-height: normal;
                }

                .description {
                    margin-top: 0.7rem;
                    width: 100%;
                    font-size: 1.2em;
                    line-height: 1.8em;
                    margin-bottom: 1.5rem;
                }

                button {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .grid-list {
        // padding: 0 5vw;
        margin-bottom: 5vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8vh 8vw;

        .grid-article-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .description {
                max-width: 40vw;

                .title {
                    font-size: 2.1em;
                    margin-bottom: 1rem;
                    margin-top: 1.5rem;
                    line-height: normal;
                }

                mat-chip-list {
                    mat-chip > * {
                        margin-right: 6px;
                    }
                }

                .description {
                    margin-top: 0.7rem;
                    // max-width: 30vw;
                    font-size: 1.2em;
                    line-height: 1.8em;
                    margin-bottom: 1.5rem;
                    text-align: justify;
                }

                // a {
                //     color: $primary-blue;
                //     font-size: 1.2em;
                // }
            }
        }
    }
}

.sixteen-nine-img {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding-top: 56.25%;
    position: relative;
    border-radius: 10px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
}

.chip-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    span {
        width: min-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #444;
        margin-right: 10px;

        mat-icon {
            margin-right: 3px;
        }
    }

    .admin {
        cursor: pointer;
    }

    .edit:hover {
        color: $primary-blue;
    }

    .remove:hover {
        color: red;
    }
}
