<div class="list">
    <div class="landing">
        <img src="https://images.pexels.com/photos/1181672/pexels-photo-1181672.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        <div class="description">
            <div class="title">Gesamtschulen in Rheinland-Pfalz</div>

            <mat-chip-list>
                <mat-chip><mat-icon>visibility</mat-icon>200</mat-chip>
                <mat-chip><mat-icon>schedule</mat-icon>12.10.2020</mat-chip>
            </mat-chip-list>

            <div class="description">
                Die Integrierte Gesamtschule in Deutschland wurde Ende der sechziger Jahre des vergangenen Jahrhunderts als Folge einer breiten
                Bildungsdiskussion konzipiert. Vertreterinnen und Vertreter des Gesamtschulgedankens argumentierten, dass das nach dem Zweiten...
            </div>
            <a routerLink="/article-read">
                <button mat-flat-button color="primary">Artikel lesen</button>
            </a>
        </div>
    </div>

    <p>Second page lulz</p>
</div>
