<div calss="login">
    <h1>Passwort Zurücksetzen</h1>
    <p>Bitte geben Sie Ihren Email an, sodass wir Ihnen eine Email zum Zurücksenden Ihres Passworts senden können.</p>
    <form class="example-form" [formGroup]="loginFormGroup">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailFormControl" />
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Bitte geben Sie eine <b>valide</b> Email ein.
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email wird <strong>benötigt</strong>
            </mat-error>
        </mat-form-field>
    </form>
    <div class="button-group">
        <button mat-flat-button color="primary" (click)="reset()" [disabled]="!loginFormGroup.valid">Zurücksetzen</button>
        <button mat-stroked-button color="primary" (click)="dismiss()">Abbrechen</button>
    </div>
</div>
