.login {
    display: flex;
    flex-direction: column;
}

.example-form {
    margin-top: 2rem;
    min-width: 150px;
    max-width: 500px;
    width: 100%;

    mat-form-field:first-child {
        margin-bottom: 1rem;
    }
}


.example-full-width {
    width: 100%;
}

.error {
    margin-top: 0.5rem;
}
.button-group {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .warn {
        margin-right: 4rem;
    }
}
