<div class="read-container" *ngIf="article">
    <div class="title">
        <h1>{{article.title}}</h1>
        <div class="icons">
            <div><mat-icon>timelapse</mat-icon>{{article.creationDate}}</div>
            <div>•</div>
            <div><mat-icon>visibility</mat-icon>{{article.views}}</div>
            <div>•</div>
            <div><mat-icon>hourglass_top</mat-icon>{{getReadTime(article.content)}} min</div>
        </div>
        <div class="image">
            <img src="{{article.imageUrl}}" alt="" />
        </div>
    </div>

    <p class="content">
        <!-- <md-editor name="Content" [(ngModel)]="content" [height]="'1500px'" [options]="options"> </md-editor> -->
        <markdown [data]="article.content" class="content"></markdown>
    </p>
</div>
