@import "../../../../const.scss";

.read-container {
    margin: auto;
    margin-top: 1rem;

    background: #fff;
    width: 60%;

    .title {
        h1 {
            font-weight: bold;
            color: #333;
            margin-bottom: 0;

            span {
                font-size: 0.6em;
                font-weight: normal;
                color: $primary-blue;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }


        .icons {
            margin: 0.5rem 0;
            display: flex;
            flex-direction: row;
            height: 2.5rem;
            align-items: center;
            color: #555;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-right: 3rem;
                mat-icon {
                    margin-right: 5px;
                    font-size: 1.5em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .image {
            width: 100%;
            height: 300px;
            margin-bottom: 2rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }

    .content {
        font-family: 'Merriweather Sans', sans-serif;
        line-height: 2em;
        text-justify: newspaper;
        color: #333;
        text-align: justify;
    }
}

.source {
    float: right;
    position: relative;
    right: 0px;
    bottom: 0px;
    margin-bottom: -40px;
    z-index: 1000;
    scale: 0.8;
    opacity: 0.75;
    cursor: pointer;

    a {
        color: #000;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        &:hover {
            text-decoration: none;
        }
    }
}
