<div #top></div>
<div class="read-container" *ngIf="article">
    <div class="title">
        <h1>{{ article.title }} <span *ngIf="isLoggedIn" [routerLink]="getEditArticleLink()">Bearbeiten</span></h1>
        <div class="icons">
            <div><mat-icon>timelapse</mat-icon>{{ article.creationDate }}</div>
            <div>•</div>
            <div><mat-icon>visibility</mat-icon>{{ article.views }}</div>
            <div>•</div>
            <div><mat-icon>hourglass_top</mat-icon>{{ getReadTime(article.content) }} min</div>
        </div>
        <div class="image">
            <div class="source" [matTooltip]="article.imageUrl">
                <a target="_blank" href="https://www.pexels.com/de-de/ueber-uns/">
                    <mat-icon>fingerprint</mat-icon>
                    Bildquelle
                </a>
            </div>
            <img src="{{ article.imageUrl }}" alt="" />
        </div>
    </div>

    <p class="content">
        <markdown [data]="article.content" class="content"></markdown>
    </p>
</div>
