.main-container {
    padding: 0 10vw;
}

.mobile {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text {
        h1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            font-size: 3em;
            mat-icon {
                width: 1em;
                height: 1em;
                margin-right: 0.25em;
                font-size: 1em;
            }
        }
    }
}