<div class="file-container">
    <div class="sidebar">
        <span
            ><mat-icon>search</mat-icon
            ><span>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Suchen" [(ngModel)]="searchTerm" />
                </mat-form-field> </span
        ></span>
        <span (click)="openNewFileDialogue()"><mat-icon>upload_file</mat-icon><span>Neue Datei hinzufügen</span></span>
        <span *ngIf="selection.selected.length > 0" (click)="downloadList()"><mat-icon>file_download</mat-icon><span>Alles Herunterladen</span></span>
        <span *ngIf="deleteListLengthFiltered() > 0" (click)="deleteList()"
            ><mat-icon class="color-warn" color="warn">delete</mat-icon><span>Alles Löschen</span></span
        >
    </div>

    <div class="loading" *ngIf="allFiles.length === 0">
        <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
    </div>

    <table [hidden]="allFiles.length === 0" matSort mat-table [dataSource]="dataSource" multiTemplateDataRows>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef class="selection">
                <mat-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.selected.length > 1 && !isAllSelected()"
                    [aria-label]="checkboxLabel()"
                    color="primary"
                >
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                    color="primary"
                >
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Row definitions -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let element">
                <mat-icon>{{ getIconName(element.mimetype) }}</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dateiname</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
            <td mat-cell *matCellDef="let element">{{ getDate(element.creationDate) }}</td>
        </ng-container>

        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Autor</th>
            <td mat-cell *matCellDef="let element">
                {{ element.authorName }}
                <i *ngIf="!element.authorName">Unbekannt</i>
            </td>
        </ng-container>

        <ng-container matColumnDef="regionalgruppe">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Regionalgruppe</th>
            <td mat-cell *matCellDef="let element">
                {{ element.scope }}
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let element" class="actions">
                <mat-icon color="primary" (click)="downloadFile(element); $event.stopPropagation()">file_download</mat-icon>
                <mat-icon color="primary" (click)="share(element); $event.stopPropagation()">share</mat-icon>
                <mat-icon [hidden]="!hasFileAccess(element)" color="warn" (click)="removeFile(element); $event.stopPropagation()">delete</mat-icon>
            </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-description">
                        {{ element.description }}
                        <i *ngIf="!element.description">Zu dieser Datei gibt es keine Beschreibung...</i>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            *matRowDef="let element; columns: displayedColumns"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element; selection.toggle(row)"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[30, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
