<div class="about">
    <h1>Kontakt</h1>
    <div class="row">
        <div>
            <h3>Siggi Käufer</h3>
            <ul>
                <li>IGS An den Rheinauen</li>
                <li>Am Stadtbad 20</li>
                <li>55276 Oppenheim</li>
                <li>Telefon: 06133-509060</li>
                <li>Fax: 06133-5090620</li>
                <li>info@igs-oppenheim.de</li>
            </ul>
        </div>

        <div>
            <h3>Jürgen Winzer</h3>
            <ul>
                <li>IGS Nieder-Olm</li>
                <li>Karl-Sieben Straße 33</li>
                <li>55268 Nieder-Olm</li>
                <li>Telefon: 06136-952810</li>
                <li>Fax: 06136-9528113</li>
                <li>info@igsno.de</li>
            </ul>
        </div>
    </div>
</div>
