<div class="about">
    <h1>Kontakt</h1>
    <div class="row">
        <div>
            <h3>Siggi Käufer</h3>
            <ul>
                <li>IGS An den Rheinauen</li>
                <li>Am Stadtbad 20</li>
                <li>55276 Oppenheim</li>
                <li>Telefon: 06133-509060</li>
                <li>Fax: 06133-5090620</li>
                <li>info@igs-oppenheim.de</li>
            </ul>
        </div>

        <div>
            <h3>Jürgen Winzer</h3>
            <ul>
                <li>IGS Nieder-Olm</li>
                <li>Karl-Sieben Straße 33</li>
                <li>55268 Nieder-Olm</li>
                <li>Telefon: 06136-952810</li>
                <li>Fax: 06136-9528113</li>
                <li>info@igsno.de</li>
            </ul>
        </div>
    </div>
    <p>
        Nachdem die Zahl der Integrierten Gesamtschulen in den neunziger Jahren des letzten Jahrhunderts stark zugenommen hat, bestand auch der Wunsch sich
        besser zu vernetzen. Die Schulleiterinnen und Schulleiter haben sich in der Direktorenvereinigung der Integrierten Gesamtschulen organisiert, um die
        gemeinsamen Interessen nach außen hin zu vertreten. <br>
        In den Jahren 2008 bis 2013 kamen viele neu eingerichtete Gesamtschulen in Rheinland-Pfalz hinzu. Um
        sich in kleineren Gruppen und regional besser austauschen zu können, wurden als Netzwerke sieben Regionalgruppen eingerichtet. Aufgaben, Strukturen und
        wichtige Verfahrensgrundsätze der Direktorenvereinigung wurden 2016 in einer Satzung festgeschrieben. <br>
    </p>
    <a mat-stroked-button color="primary" href="TODO" target="_blank">Link zur Satzung</a>
</div>
