<div class="container" *ngIf="!!user">
    <h1>Artikel Erstellen</h1>
    <div>
        <div class="row">
            <mat-form-field class="title">
                <mat-label>Titel</mat-label>
                <input [(ngModel)]="articleTitle" matInput />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Posten in</mat-label>
                <mat-select [(ngModel)]="articleScope">
                    <ng-container *ngIf="user.isSuperUser">
                        <ng-container *ngFor="let region of articleScopeRegions">
                            <mat-option [value]="region" selected>{{ region }}</mat-option>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="!user.isSuperUser">
                        <mat-option [value]="user.regionalgruppe" selected>{{ user.regionalgruppe }}</mat-option>
                        <mat-option [value]="articleScopeEnum.latestNews" selected>{{ articleScopeEnum.latestNews }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            
            <div class="image-button">
                <button mat-flat-button color="primary" (click)="selectImage()">Bild {{ !!articleImage ? 'Ändern' : 'Auswählen' }}</button>
            </div>
        </div>
        <mat-form-field class="example-full-width">
            <mat-label>Beschreibung</mat-label>
            <textarea matInput [(ngModel)]="articleDescription"></textarea>
        </mat-form-field>
    </div>

    <!-- <div class="content">
        <md-editor name="content" [height]="'70vh'" [(ngModel)]="articleContent"> </md-editor>
    </div> -->

    <angular-editor [placeholder]="'Inhalt des Artikels...'" [config]="editorConfig" [(ngModel)]="articleContent"></angular-editor>

    <div class="errors">
        <mat-error *ngIf="!articleTitle">Bitte geben Sie einen gültigen Titel an!</mat-error>
        <mat-error *ngIf="!articleContent">Bitte geben Sie einen gültigen Inhalt an!</mat-error>
        <mat-error *ngIf="!articleScope">Bitte geben Sie einen gültigen Bereich zum Speichern des Artikels an!</mat-error>
        <mat-error *ngIf="!articleImage">Wenn Sie kein Bild auswählen, wird ein Platzhalterbild für Sie ausgewählt!</mat-error>
    </div>

    <div class="row">
        <button [disabled]="!canCreate()" mat-flat-button color="primary" (click)="createArticle()">Artikel Erstellen</button>
    </div>
</div>
