@import '../../../../const.scss';

.read-container {
    margin: auto;
    margin-top: 1rem;

    width: 100%;

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2rem;

        h1 {
            font-size: 2em;
            font-weight: bold;
            color: #333;
            margin: 0;
            cursor: pointer;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1rem;

            mat-icon {
                margin-right: 3px;
            }

            color: $gray;
            cursor: pointer;

            &.save {
                mat-icon {
                    color: $primary-blue;
                }
            }
        }
    }

    .image {
        width: 50px;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    .content {
        font-family: 'Merriweather Sans', sans-serif;
        line-height: 2em;
        text-justify: newspaper;
        color: #333;
        text-align: justify;
        * {
            height: 100%;
        }
    }
}

.bottom-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    * {
        margin-right: 1rem;
    }

    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
