@import '../../../const.scss';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        color: $primary-blue;
        cursor: pointer;
    }
}