<button mat-button [matMenuTriggerFor]="aboveMenu">Über uns</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
    <!-- <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button> -->
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Kontakt</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
    <!-- <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button> -->
</mat-menu>

<button mat-button [matMenuTriggerFor]="afterMenu"><mat-icon>account_circle</mat-icon></button>
<mat-menu #afterMenu="matMenu" xPosition="after">
    <igs-login></igs-login>
</mat-menu>
