<mat-toolbar>
    <div class="title">
        <span class="igs">IGS</span>
        <div class="text">Direktorenvereinigung der<br>Integrierten Gestamschulen in Rheinland-Pfalz</div>
    </div>
    <div class="riht">
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </div>
</mat-toolbar>
