<div class="footer">
    <div class="artikel head">Artikel</div>
    <div class="rechtliches head">Rechtliches</div>
    <div class="sonstiges head">Sonstiges</div>
    <div class="contact head">Über uns</div>
    <div class="artikel-list list">
        <div *ngFor="let article of articleList">
            {{ article.title }}
        </div>
    </div>
    <div class="rechtliches-list list">
        <div>Datenschutz</div>
        <div>Impressum</div>
    </div>
    <div class="sonstiges-list list">
        <div>Über uns</div>
        <div>Dateiablage</div>
        <div>Satzung</div>
    </div>
    <div class="contact-content">
        Nachdem die Zahl der Integrierten Gesamtschulen in den neunziger Jahren des letzten Jahrhunderts stark zugenommen hat, bestand auch der Wunsch sich
        besser zu vernetzen. Die Schulleiterinnen und Schulleiter haben sich in der Direktorenvereinigung der Integrierten Gesamtschulen organisiert, um die
        gemeinsamen Interessen nach außen hin zu vertreten.
        <br />
        In den Jahren 2008 bis 2013 kamen viele neu eingerichtete Gesamtschulen in Rheinland-Pfalz hinzu. Um sich in kleineren Gruppen und regional besser
        austauschen zu können, wurden als Netzwerke sieben Regionalgruppen eingerichtet. Aufgaben, Strukturen und wichtige Verfahrensgrundsätze der
        Direktorenvereinigung wurden 2016 in einer Satzung festgeschrieben.
    </div>
</div>
<div class="copyright">
    <div>2021 © IGS Nieder Olm</div>
    <div>Direktorenvereinigung der Integrierten Gestamschulen in Rheinland-Pfalz</div>
</div>
