@import '../../../const.scss';

.footer {
    clear: both;
    position: relative;

    display: grid;
    background-color: $gray;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    color: $light-gray;
    padding: 2vw 10vw;
    margin-top: 5vw;

    .head {
        color: $primary-blue;
        font-size: 1.25em;
        font-weight: 500;
        height: min-content;
    }

    .list {
        display: flex;
        flex-direction: column;
        font-size: 1.15em;
        > * {
            margin-top: 0.5em;
        }
    }

    .contact-content {
        font-size: 1.15em;
        line-height: 1.5em;
        font-size: italic;
    }
}

.artikel {
    grid-area: 1 / 1 / 2 / 2;
}
.rechtliches {
    grid-area: 1 / 2 / 2 / 3;
}
.artikel-list {
    grid-area: 2 / 1 / 4 / 2;
}
.rechtliches-list {
    grid-area: 2 / 2 / 4 / 3;
}
.sonstiges {
    grid-area: 1 / 3 / 2 / 4;
}
.sonstiges-list {
    grid-area: 2 / 3 / 4 / 4;
}
.copyright {
    padding: 1vw 10vw;
    background-color: $dark-gray;
    color: $light-gray;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-style: italic;
    font-size: 1.15em;
}
