@import '../../../../const.scss';

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #fff;
    width: 100%;
}

.description {
    max-width: 40vw;
    min-width: 100%;

    .title {
        font-size: 2.1em;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        line-height: normal;
    }

    mat-chip-list {
        mat-chip > * {
            margin-right: 6px;
        }
    }

    .description {
        margin-top: 0.7rem;
        // max-width: 30vw;
        font-size: 1.2em;
        line-height: 1.8em;
        margin-bottom: 1.5rem;
        text-align: justify;

        max-height: 30vh;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.sixteen-nine-img {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding-top: 56.25%;
    position: relative;
    border-radius: 10px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
}

.chip-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    span {
        width: min-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #444;
        margin-right: 10px;
        white-space: nowrap;

        mat-icon {
            margin-right: 3px;
        }
    }

    .admin {
        cursor: pointer;
    }

    .edit:hover {
        color: $primary-blue;
    }

    .remove:hover {
        color: red;
    }
}

.source {
    float: right;
    position: relative;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    color: #fff;
    scale: 0.8;
    opacity: 0.75;
    cursor: pointer;

    a {
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        &:hover {
            text-decoration: none;
        }
    }
}
